@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@200&display=swap');

*{
    font-family: 'Azeret Mono', monospace;
    list-style: none;
    text-decoration: none;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.wrapper{
    width:100%;
    height:100%;
}

.navbar{
    width:100%;
    height:60px;
    background:indigo;
}
.wrap{
    color:ivory;
}
ul.navbar {
    display: flex;
    justify-content:center;
}

ul.navbar li{
    position:relative;
}

ul.navbar li a{
    display:block;
    color:#fff;
    width:180px;
    height:60px;
    text-align:center;
    padding:20px 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.5s ease; 
}

ul.navbar >li a{
    margin-right:1px;
}

ul.navbar li:last-child >a{
    margin-right: 0;
}
ul.navbar li a:hover,
ul.navbar li a.active,
ul.navbar .dd_menu  li a:hover,
ul.navbar .dd_menu  li.a.active  {
    background-color: #c279b7;
}
ul.navbar li a.a_parent.active + .dd_menu{
    display: block;

}
.navbar .dd_menu{
    position:absolute;
    top: 80px;
    left:0 ;
    display: none;
    }  
.navbar .dd_menu ul li a {
        width:180px;
         background: #9972bf;
         text-align:left;
         padding:20px 19px;
    }

.navbar .dd_menu:before{
content: "";
position: absolute;
top: -30px;
left: 85px;
transform: translateX(-50%);
z-index:1;
border: 15px solid;
border-color:transparent transparent #9972bf transparent;
}

.first{
    position: absolute;
}
.second{
    position:relative;
    top:20px;
}